
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*,*:before,*:after{
  box-sizing: inherit;
}

body{
  font-family: 'Sarabun', sans-serif;
}
html { font-size: 62%; }
body { font-size: 1.2px; font-size: 1.2rem; } /* =14px */
h1   { font-size: 2px; font-size: 2rem; } /* =24px */

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}



.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.logo-login{
  display: block;
  width: 320px;
  height: auto;
  margin: 2rem auto;
}
.logo-brand{
  display: inline-block;
  width: 100px;
  height: auto;
}

.dataCard{
  min-height: 13rem;
  display: inline-block;
  vertical-align: top;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: rgba(42, 42, 42, 0.83);

  .center-icon{
    display: block;
    margin: auto;

    .material-icons{
      font-size: 3rem;
    }

  }
}